@model ShoppingCart 
  
<style>
    .rating-stars {
        direction: rtl; /* Reverse order for right-to-left languages */
    }

        .rating-stars input[type="radio"] {
            display: none;
        }

        .rating-stars label {
            display: inline-block;
            font-size: 1.5em;
            color: gray;
            cursor: pointer;
        }

            .rating-stars label:hover,
            .rating-stars label:hover ~ label,
            .rating-stars input[type="radio"]:checked ~ label {
                color: gold;
            }
</style>


<form method="post">
    <input hidden asp-for="ProductId" />
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-content bg_image_header jarallax">
            <div class="container">
                <h1 class="heading">Product</h1>
            </div>
        </div>
    </div>
    
    <div class="main-wrapper">
        <div class="product_view">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product_left">
                            <div class="product_zoom">
                                <div class="product_zoom_container">
                                    <div class="product_zoom_info selected">
                                        <div class="product_image_zoom">
                                            @if (Model.Product.ProductImages != null && Model.Product.ProductImages.Count() > 0)
                                            {
                                                <div id="carouselExampleIndicators" class="carousel slide">
                                                    <div class="carousel-indicators">
                                                        @foreach (var imageWithIndex in Model.Product.ProductImages.Select((image,index) => new { Image = image, Index = index }))
                                                        {
                                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@imageWithIndex.Index" class="@(imageWithIndex.Index == 0? "active" : "")" aria-current="true" aria-label="Slide 1"></button>
                                                        }
                                                    </div>
                                                    <div class="carousel-inner">
                                                        @foreach (var imageWithIndex in Model.Product.ProductImages.Select((image,index) => new { Image = image, Index = index }))
                                                        {
                                                            <div class="@(imageWithIndex.Index == 0? "carousel-item active" : "carousel-item")">
                                                                <img src="@imageWithIndex.Image.ImageUrl" class="d-block w-100" alt="...">
                                                            </div>
                                                        }
                                                    </div>
                                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                        <span class="visually-hidden">Previous</span>
                                                    </button>
                                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        <span class="visually-hidden">Next</span>
                                                    </button>
                                                </div>
                                            }
                                            else
                                            {
                                                <img src="https://placehold.co/500x600/png" alt="img">
                                            }

                                            

                                            @*<img src="@Model.Product.Image" alt="img">*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product_right">
                            <div class="product_info">
                                <div class="product_title"><h4>@Model.Product.Name</h4></div>
                            </div>
                            <div class="product_price">
                                <del>$105.00</del> <span class="product_per_price" data-content="95.00"></span> $<span class="product_total_price">95.00</span>
                            </div>
                            <div class="product_description">
                                @Html.Raw(Model.Product.Description)
                            </div>
                            <div class="product_view_bottom">
                                <div class="product_quantity">
                                    <div class="product_quantity_inner">
                                        <input asp-for="Count" type="number" value="1">
                                    </div>
                                </div>
    
                                <div class="button_group">
                                    <button class="button" type="submit">Add to Cart</button>
                                </div>
                            </div>
    
                            <div class="product_meta">
                                <ul>
                                    <li><span>SKU:</span> @Model.Product.SKU</li>
                                    <li><span>Category:</span> @Model.Product.Category.Name</li>
                                </ul>
                            </div>
                            <div class="post_share">
                                <ul class="share_list">
                                    <li>Share:</li>
                                    <li data-aos="fade-up" data-aos-duration="1000"><a href="#"><i class="bi bi-facebook"></i></a></li>
                                    <li data-aos="fade-up" data-aos-duration="2500"><a href="#"><i class="bi bi-instagram"></i></a></li>
                                    <li data-aos="fade-up" data-aos-duration="3000"><a href="#"><i class="bi bi-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

