@model PostDetailViewModel

<div class="page-header">
	<div class="page-header-content bg_image_header jarallax">
		<div class="container">
			<h1 class="heading">Blog Details</h1>
		</div>
	</div>
</div>

<div class="main-wrapper">
	<div class="container">
		<div class="blog_details">
			<div class="post_img">
				<img src="@Model.Post.Image" alt="blog">
			</div>
			<div class="blog_details_inner">
				<div class="post_content">
					<div class="details_post_header">
						<div class="calendar">@Model.Post.Created.Date</div>
						<h3 class="post_title">@Model.Post.Title</h3>
					</div>
					<div class="fulltext first_para">
						<p>
							@Html.Raw(Model.Post.Body)
						</p>
					</div>
					<div class="post_footer">
						<div class="post_share">
							<ul class="share_list">
								<li>Share:</li>
								<li data-aos="fade-up" data-aos-duration="1000"><a href="#"><i class="bi bi-facebook"></i></a></li>
								<li data-aos="fade-up" data-aos-duration="2500"><a href="#"><i class="bi bi-instagram"></i></a></li>
								<li data-aos="fade-up" data-aos-duration="3000"><a href="#"><i class="bi bi-pinterest"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-11">
						<div class="comment-respond" data-aos="fade-up" data-aos-duration="1000">
							<h3 class="comment-reply-title">Make A Comment</h3>
							<form class="comment-form" asp-controller="Blog" asp-action="Details" method="post">
								<input type="hidden" asp-for="Post.PostId" />
								<p class="logged-in-as">Your email address will not be published. Required fields are marked *</p>
								<div class="form-container">
									<div class="row">
										<div class="col-md-12 col-lg-12">
											<div class="form-group">
												<textarea name="message" name="message" class="form-control" placeholder="Text Here*" asp-for="Comments.Message" required></textarea>
											</div>
										</div>
										<div class="col-md-4 col-lg-4">
											<div class="form-group">
												<input type="text" name="name" class="form-control" placeholder="Name*" asp-for="Comments.Name" required>
											</div>
										</div>
										<div class="col-md-4 col-lg-4">
											<div class="form-group">
												<input type="email" name="email" class="form-control" placeholder="E-mail*" asp-for="Comments.Email" required>
											</div>
										</div>
										<div class="col-md-12 col-lg-12">
											<div class="button_group">
												<button class="button" type="submit" name="submit">Submit</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-11">
						<div class="comments-area">
							<h3 class="comments-title">Comments</h3>
							<ul class="comment-list">
								@if (Model.CommentList.Count > 0)
								{
									@foreach (var item in Model.CommentList)
									{
										<li class="comment even thread-even depth-1">
											<div class="commenter-block">
												<div class="comment-content">
													<div class="comment-author-name">@item.Name <span class="comment-reply"><a href="#" class="comment-reply-link">Reply <i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a></span></div>
													<div class="comment-author-comment">
														<p>@item.Message</p>
													</div>
													<time class="comment-date">@item.Created.ToShortDateString()</time>
												</div>
											</div>
										</li>

										<!-- #comment-## -->
									}
								}
								else
								{
									<li class="comment even thread-even depth-1">
										<div class="commenter-block">
											<div class="comment-content">
												<div class="comment-author-comment">
													<p>No comments yet. Be the first to comment!</p>
												</div>
											</div>
										</div>
									</li>
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>